

label {
    color: #fff;
}

body {
    font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
    background: #76B5C1;
background: -webkit-linear-gradient(bottom right, #76B5C1, #A42931);
background: -moz-linear-gradient(bottom right, #76B5C1, #A42931);
background: linear-gradient(to top left, #76B5C1, #A42931);
    color: #fff;
}

h1 {
    margin: 100px 0 100px 0;
}
#station-message, #station-countdown {
    margin: 10px 0 10px 0;
}
h3 {
    font-family: 'Montserrat';
    font-weight: bold;
    margin: 0 0 50px 0;
}

h4 {
    margin-bottom: 20px;
}
a.navbar-item {
    color: #fff;
    font-weight: bold;
}
.title.is-1 {
    font-family: 'Pacifico';
}
div#container-carousel.columns {
    position: relative;
}

.slide li {

    list-style-type: none;
}

.slide {

    position: absolute;
    opacity: 0;

}
.active {
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
    position: relative;
}

#title.container {
    margin: 20px 0 20px 0;
}

div#carousel.container {


    display: flex;
    justify-content: center; 
}


.slides li {

    height: auto;
    margin: 0 10vw 0 10vw;
}

img#logo-img {
    width: 400px;
}

#map {
    height: 600px;
    margin-bottom: 50px; 
}

div#title-carousel.column.is-12 {
    text-align: center;
}

.fa-circle {
    margin: 0 10px 0 10px;
}
div.container.has-text-centered img {
    width:200px;
}

#prev {
    left: 10px;
}

#next {
    right: 10px;
}

.btn-slider {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    color: white;
    text-align: center;
}

div#dot-line.container {
    height: 60px;
}

#dot-line {
    display: flex;
    align-items: center;
    justify-content: center;
}

div#dot-align.column.is-12, div#dot-pauseplay.column.is-12 {
    display: flex;
    align-items: center;
    justify-content: center;
}

div#dotpp {
    margin: 20px 0 20px 0;
}

.fas.fas.fa-pause-circle, .fas.fa-play-circle {
    margin: 0 40px 0 40px;
}
.fas.fa-pause-circle.fa-2x:hover, .fas.fa-play-circle.fa-2x:hover {
    color:red;
}

.fas.fa-play-circle.fa-2x:hover {
    color:green;
}

#leasing {
    text-align: center;   
}

#station-open {
    background-color: #23d160;
    border-color: transparent;
    color: #fff;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    align-items: center;
    border: 1px solid transparent;
    padding: 5px 5px 5px 5px;
}

#station-closed {
    background-color: red;
    border-color: transparent;
    color: #fff;
    border-radius: 4px;
    box-shadow: none;
    display: inline-flex;
    font-size: 1rem;
    height: 2.25em;
    align-items: center;
    border: 1px solid transparent;
    padding: 5px 5px 5px 5px;
}

@media only screen and (max-width: 768px) {


    
}

@media only screen and (min-width: 769px) and (max-width: 1023px) {
     

}


#bloc-signature {
    display: none;
}

#signature-ok {
    display: none;
}

.column.is-6 {
    min-height: 400px;
}

#map {
    border-radius: 15px;
    border: 2px solid #fff;
}
.pres-map {
    padding: 15px 50px 15px 50px;
    margin: 0 15px 0 15px;
}

div.field {
    margin: 20px 0 40px 0;
    text-align: center;
}

#go-to-sign {
    display: none;
    text-align: center;
    margin: 45px 0 45px 0;
}

.pres-block {
    padding: 15px 15px 15px 15px;
    margin: 0 15px 0 15px;
    min-height: 780px;
    border: 2px solid #fff;
    border-radius: 15px;
}

#elts-booking {
    margin-top: 20px;
}

ul#elts-booking li {
    margin: 5px 0 5px 0;
}

.title.is-3 {
    color: white;
}

.navbar {
    background-color: transparent;
}

#resa-line {
    padding: 15px 15px 15px 15px;
    margin-bottom: 40px;
}

#resa-block-session {
    background-color: #292525;
    border-radius: 15px;
}

section#choice.section {
    margin-top: 50px;
    padding-top: 50px;
    min-height: 100vh;
}

#resa-block-session {
    display: none;
}